@import url(//db.onlinewebfonts.com/c/a959448c957069dae7d52078616ebdc8?family=Architype+Bayer-type);

@font-face {
    font-family: "Architype Bayer-type";
    src: url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.eot");
    src: url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.woff") format("woff"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a959448c957069dae7d52078616ebdc8.svg#Architype Bayer-type") format("svg");
}


:root {
    --logo: "Architype Bayer-type", serif;
    --text: 'Jost', sans-serif;

    --gold: #DC9B1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body,
html {
    margin: 0;
    font-size: clamp(6px, 1vw, 16px);
    /* height: 100%; */
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 6.5rem;
    line-height: 100%;
    color: white;
    text-shadow: 0px 2px 20px #111111;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 100%;
    color: white;
    padding-bottom: 2rem;
    text-shadow: 0px 2px 10px #111111;
    padding: 0;
    margin: 0;
}

h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 100%;
    color: white;
    padding-bottom: 2rem;
    text-shadow: 0px 2px 10px #111111;
    padding: 0;
    margin: 0;
}

h4 {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 100%;
    color: white;
    padding-bottom: 2rem;
    text-shadow: 0px 2px 10px #111111;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
    color: white;
    padding-bottom: 2rem;
    padding: 0;
    margin: 0;
}




/* NAVBAR STYLING STARTS */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 5rem;
    background-color: white;
    color: black;
    font-family: 'Jost', sans-serif;
}

.nav-links a {
    color: black;
}

/* LOGO */

.logo {
    font-family: var(--logo);
    font-size: 36px;
}

.logo-gold {
    color: var(--gold);
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: var(--gold);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */

.dropdown {
    background-color: var(--gold);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: var(--gold);
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        background-color: var(--gold);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: var(--gold);
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: var(--gold);
    }

}

/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 999;
    margin-bottom: 1rem;
    background-color: white;
}

.logo {
    font-family: var(--logo);
    font-size: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.navbar-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    max-width: calc(100% - 200px);
}

.nav-items {
    white-space: nowrap;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.menu {
    font-size: 1.5rem;
    color: var(--gold);

} */


/* CONTENT */

.content {
    display: flex;
    height: 90vh;
    padding: 1rem 5rem 3rem 5rem;

}

.hero {
    flex-basis: 70%;
    border-radius: 5rem;
    display: flex;
    padding: 2rem;
    background-image: url(/imgs/IMG_2489.jpg);
    background-size: cover;
    background-position: bottom, center;
}

.description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    border-radius: 5rem;
    padding-left: 5rem;
    gap: 5rem;
    /* flex: 1; */
}

.blog,
.youtube,
.store {
    height: 100%;
    width: 100%;
    border-radius: 2.5rem;
    background-size: cover;
    background-position: center, center;
}

.blog {
    background-image: url(imgs/IMG_2863.jpg);

}

.youtube {
    background-image: url(imgs/IMG_3061.jpg);

}

.store {
    background-image: url(imgs/IMG_2781.jpeg);

}

.buttons-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 100%;
    color: var(--gold);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    border-radius: 2rem;
    width: 12rem;
}

.title-large {
    display: flex;
    align-content: bottom;
}

.category {
    padding-bottom: 2rem;
}

.link-category {
    padding-bottom: 1rem;
}




footer {
    width: 100%;
    background-color: var(--gold);
    margin-top: auto;
    display: grid;
    padding: 2rem;
}


.footernav {
    display: flex;
}

.footer {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    padding: 4rem;
}

.fernficus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
}

.jjcx {
    text-decoration: none;
    color: white;
}

.jjcx:visited {
    text-decoration: none;
    color: white;
}

.jjcx:hover,
:active {
    color: black;
}

@media screen and (max-width: 768px) {
    /* body {
        padding-bottom: 20rem;
    } */

    .content {
        display: flex;
        flex-direction: column;
        /* display: grid;
        grid-template-rows: auto 1fr auto; */
        height: 100vh;
        /* max-height: calc(100vh - 64px); */
        /* padding-bottom: 20rem; */
    }



    .links {
        /* height: 500px; */
        justify-items: center;
        padding-left: 0;
        padding-top: 2rem;
        gap: 1rem;
        /* padding-bottom: 5rem; */
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .blog,
    .youtube,
    .store {
        padding: .02rem;
    }

}